@model IEnumerable<Spedizioni.Models.Spedizioni>

@{
    ViewBag.Title = "SpedizioniPerCitta";
}

<h2>SpedizioniPerCitta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codTracciamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pesoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cittaDestinazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indirizzoDestinazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nominativoDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataConsegna)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codTracciamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cittaDestinazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indirizzoDestinazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nominativoDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataConsegna)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
