@model IEnumerable<Spedizioni.Models.Spedizioni>

@{
    ViewBag.Title = "SpedizioniOggi";
}

<h2>SpedizioniOggi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Spedizione
        </th>
        <th>
            Cliente
        </th>
        <th>
            Tracking
        </th>
        <th>
            Data spedizione
        </th>
        <th>
            Peso
        </th>
        <th>
            Citta destinazione
        </th>
        <th>
            Indirizzo destinazione
        </th>
        <th>
            Destinatario
        </th>
        <th>
            Costo Sped.
        </th>
        <th>
            Data Consegna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codTracciamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cittaDestinazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indirizzoDestinazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nominativoDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataConsegna)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
