@model IEnumerable<Spedizioni.Models.Spedizioni>

@{
    ViewBag.Title = "VisualizzaSpedizioni";
}

<h3 class="text-center mt-4 fs-2">VISUALIZZA TUTTE LE SPEDIZIONI</h3>

<table class="table bg-black bg-opacity-75 border-0 shadow rounded-5 text-white bg-gradient">
    <tr>
        <th>
            ID
        </th>
        <th>
            Cliente
        </th>
        <th>
            Tracking
        </th>
        <th>
            Data spedizione
        </th>
        <th>
            Peso
        </th>
        <th>
            Citta Destinazione
        </th>
        <th>
            Indirizzo
        </th>
        <th>
            Destinatario
        </th>
        <th>
            Costo
        </th>
        <th>
            Data consegna
        </th>
        <th>
            Stato spedizione
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codTracciamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pesoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cittaDestinazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzoDestinazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nominativoDestinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataConsegna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatoSpedizione)
            </td>
        </tr>
    }

</table>
